@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Source+Sans+Pro:wght@700&display=swap");

body {
    font-family: "Poppins", sans-serif !important;
    
}
h6{
    text-align: left;
}a{
    text-align: center;
}p.mb-0{
    text-align: left;
}li{
    width: 130px;
}li.nav-item{
    margin: 10px;

}ul.nav-underline{
    margin-left: 30px;
}small{
   text-align: left;
}

.navbar {
    border-bottom: 1px solid #ebebeb;
}

.navbar .navbar-brand a {
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    font-size: 1.875rem;
    margin-left: 1.05rem;
}

.navbar .nav-link.active {
    color: rgb(42, 122, 237);
}

.term-and-condition {
    margin-bottom: 5rem;
}

.term-and-condition h3 {
    font-size: 0.875rem;
    font-weight: 700;
}

.term-and-condition p,
.term-and-condition ul {
    font-size: 0.875rem;
    line-height: 1.5rem;
    font-weight: 400;
}
h4{
    font-weight:350;
    font-size: 15px;
    margin: 0;
    

}
span.fs-1{
    margin: 0;
    font-size: 10px;    
    
}p.text-black-50{
margin: 0;
font-size: 13px;
padding-bottom: 3px;
}
.material-symbols-outlined{
    font-size: 50px ;
    color: rgb(58, 154, 233);
}
.nav-item{
    margin: 30px;
}.boot_tab{
    margin: 0 16px;
    background: white;
    border-radius: 10px;

}div.cmd{
    padding-left: 0;
    padding-top: 0;
   
}.nav-link{
    color: black;
    font-weight: bold;
}nav-link .hover{
    color: rgb(58, 154, 233);
}